# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/IncDomain/bin
/IncDomain/obj
/IncUI/Log
/IncUI/obj
/IncUI/bin
/IncUI/bin
/IncUI/obj
/UnitTest/bin
/UnitTest/obj
/VSIX/bin
/VSIX/obj
